body{
    margin: 0;
    background-color:#EFF5F5;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

h1{
    font-size: 3rem;
    box-shadow: 2px 2px 2px;
    width: 400px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

img{
width: 500px;
height: 500px;
margin: 10px;
transition: all 1s;
object-fit: cover;
padding: 10px 10px;
}

img:hover{
    transform: scale(1.1
    );
}